<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='recipe.css') }}">
  <script src="https://unpkg.com/react@17.0.2/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js"></script>
</head>

<body>
  <div id="root"></div>
  <script>

    const Recipe = (props) => {

      const header = React.createElement('div', { className: 'header' }, [
        React.createElement('nav', null, [
          React.createElement('ul', null, [
            React.createElement('li', null, [
              React.createElement('a', { href: `/` }, 'Home')
            ]),
            React.createElement('li', null, [
              React.createElement('a', { href: `/about` }, 'About')
            ]),
            React.createElement('li', null, [
              React.createElement('a', { href: `/recipes` }, 'Recipes')
            ])
          ])
        ])
      ]);

      const title = React.createElement("div", { className: 'recipe-title' }, props.recipe.name,
        React.createElement("hr", { className: 'solid' })
      )

      const image = React.createElement("img", {
        src: `../static/${props.recipe.image}`,
        style: { width: '500px', padding: '10px' }
      });

      const ingredients = props.recipe.ingredients.map((ingredient, index) => {
        return React.createElement("li", { key: index }, ingredient);
      });
      const instructions = props.recipe.instructions.map((instruction, index) => {
        return React.createElement("li", { key: index }, instruction);
      });
      const recipe = React.createElement(
        "div",
        { className: 'row' },
        React.createElement("div", { className: 'column' }, image),
        React.createElement("div", { className: 'column' },
          React.createElement("div", { className: 'recipe-card__heading' }, "Ingredients"),
          React.createElement("ul", { className: 'recipe-ingredients' }, ingredients)
        ));
      const instructions_final = React.createElement('div', null,
        React.createElement("div", { className: 'recipe-card__heading' }, "Instructions"),
        React.createElement("ol", { className: 'recipe-instructions custom-checkbox' }, instructions)
      );
      return React.createElement("div", { className: 'recipe-card' }, header, title, recipe, instructions_final);
    };

    const recipe = {{ recipe| tojson | safe }};

    ReactDOM.render(
      React.createElement(Recipe, { recipe: recipe }),
      document.getElementById("root")
    );
  </script>
  </div>
</body>

</html>