<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='recipe.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/react@17.0.2/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js"></script>
    <style>
        /* Checkbox Form */
        .checkbox-form {
            display: flex;
            flex-wrap: wrap;
            font-size: 16px;
        }

        .checkbox-form input[type="checkbox"] {
            flex: 1 0 33%;
            margin: 10px;
        }

        .checkbox-form input[type="submit"] {
            margin: 10px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div id="root"></div>
    <script>
        const layout = (props) => {

            const header = React.createElement('div', { className: 'header' }, [
                React.createElement('nav', null, [
                    React.createElement('ul', null, [
                        React.createElement('li', null, [
                            React.createElement('a', { href: `/` }, 'Home')
                        ]),
                        React.createElement('li', null, [
                            React.createElement('a', { href: `/about` }, 'About')
                        ]),
                        React.createElement('li', null, [
                            React.createElement('a', { href: `/recipes` }, 'Recipes')
                        ])
                    ])
                ])
            ]);

            const title = React.createElement("div", null,
                React.createElement('div', { className: 'recipe-title' }, 'Pantry'),
                React.createElement("hr", { className: 'solid' })
            );
            const recipe_header = React.createElement("div", { className: 'recipe-card__heading' }, "Recipes");
            const PhotoGrid = ({ photos }) => {
                const [hoveredPhoto, setHoveredPhoto] = React.useState([]);
                const imgElements = photos.map((photo) =>
                    React.createElement("div", {
                        className: "photo-container",
                        key: photo.src,
                        onMouseOver: () => setHoveredPhoto(photo),
                        onMouseLeave: () => setHoveredPhoto(null),
                    }, [
                        React.createElement("img", {
                            src: `../static/${photo.src}`,
                            style: { width: '400px', padding: '10px' },
                            alt: photo.caption,
                            key: photo.caption + "-img",
                        }),
                        hoveredPhoto === photo && React.createElement("div", {
                            className: "photo-caption",
                            key: photo.src + "-caption",
                        }, React.createElement('a', {
                            href: photo.link
                        }, photo.caption))
                    ])
                );

                return React.createElement('div', { className: 'photo-full' }, React.createElement('div', {
                    className: "photo-grid",
                }, imgElements));
            }
            photo_grid = React.createElement(PhotoGrid, { photos });

            const recipe_section = React.createElement('div', { className: 'recipe-card__body' }, recipe_header, photo_grid);
            return React.createElement('div', { className: 'recipe-card' }, header, recipe_section);

        };

        const photos = {{ photos| tojson | safe }};

        ReactDOM.render(
            React.createElement(layout, { photos: photos }),
            document.getElementById("root")
        );
    </script>
</body>

</html>